@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: hsl(275, 100%, 13%);
}

.app {
    height: 100vh;
    width: 100vw;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: 70px 1fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'brand search nav'
        'sidebar main main';
}

// .main-container {
//     // display: grid;
//     // grid-template-columns: 1fr 5fr 2fr;

//     // grid-template-rows: 0.2fr;
//     // gap: 0px 0px;
//     // grid-template-areas: 'sidebar main main';
//     // column-gap: 21px;
//     position: relative;
//     overflow: hidden;
//     width: 100vw;
//     height: 100%;
//     // padding: 0 17px;
// }

.main-content {
    // border-left: solid 1px white;

    padding: 20px;
    padding-top: 15px;
    grid-area: main;
    overflow: scroll;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: hsl(275, 90%, 15%);
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 15px;
    row-gap: 5px;
    border-right: solid 1px hsl(275, 100%, 23%);
    // justify-self: flex-start;
    // background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.item-list {
    // padding: 10px;
    gap: 20px;
    align-items: center;
}

.item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'text image';
    position: relative;
    width: 500px;
    // height: 150px;
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    background-color: white;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s, bottom 0.2s, right 0.2s;

    /* box-shadow: 5px 5px 0 hsl(275, 100%, 73%); */
    /* transition: box-shadow 0.3s; */
    .item-image {
        grid-area: 'text';
        width: 100%;
        height: 100%;
    }
    .item-text {
        grid-area: 'image';
    }
}

.item::before {
    content: '';
    position: absolute;
    z-index: -1;
    // width: 500px;
    // height: 150px;
    top: 2px;
    bottom: -2px;
    left: 2px;
    right: -2px;
    transition: top 0.2s, left 0.2s, bottom 0.2s, right 0.2s;

    background-color: hsl(275, 50%, 83%);
}

.item:hover {
    top: -4px;
    left: -4px;
    transition: top 0.2s, left 0.2s, bottom 0.2s, right 0.2s;
}

.item:hover::before {
    top: 6px;
    bottom: -6px;
    left: 6px;
    right: -6px;
    transition: top 0.2s, left 0.2s, bottom 0.2s, right 0.2s;
}

.row {
    display: flex;
    flex-direction: row;
    // align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

h1,
h2,
h3 {
    margin: 0;
}

.brand {
    grid-area: brand;
    background-color: hsl(45, 74%, 51%);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        height: fit-content;
        position: relative;
        top: -4px;
        left: -2px;
        padding: 0 7px;
        text-transform: lowercase;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: hsl(275, 100%, 13%);
        letter-spacing: -2px;

        text-shadow: 1px 1px hsl(275, 100%, 13%), 1px 2px hsl(275, 100%, 13%),
            2px 3px hsl(275, 100%, 13%), 2px 4px hsl(275, 100%, 13%),
            3px 5px hsl(275, 100%, 13%), 3px 6px hsl(275, 100%, 13%),
            4px 7px hsl(275, 100%, 13%), 4px 8px hsl(275, 100%, 13%);
    }
}

.header {
    display: contents;
}

.nav {
    grid-area: nav;
    background-color: hsl(45, 74%, 51%);

    justify-content: center;
    align-items: center;
    gap: 4px;

    a {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: bold;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    a:hover {
        background-color: hsl(45, 74%, 61%);
    }

    a:active {
        background-color: hsl(45, 74%, 81%);
    }

    .active {
        background-color: hsl(45, 74%, 81%) !important;
    }
}

.search-container {
    grid-area: search;
    background-color: hsl(45, 74%, 51%);
    position: relative;
    display: flex;
    align-items: center;

    form {
        height: fit-content;
        flex-grow: 1;
    }

    input {
        padding: 10px 2.5em 10px 1em;
        font-size: 18px;
        width: 100%;
        height: 3rem;
        // background-color: hsl(45, 4%, 50%);
        background-color: transparent;
        outline: none;
        border: solid;
        border-radius: 5px;
    }

    input:focus {
        background-color: hsl(45, 74%, 61%);
    }

    input::placeholder {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 500;
    }

    .loading-icon {
        position: absolute;
        right: 20px;
    }
}

.create {
    display: flex;
    justify-content: center;
    .create-form {
        width: 500px;
        // background-color: white;
    }
}
